version: '3.8'
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: interview_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: interview_db
    ports:
      - "5435:5432" 
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: